@font-face {
    font-family: 'Cambria';
}

:root{
    --black: #000000;
    --orange: #FFB53C;
    --blue: #AAD2FF;
    --red: #AD3F3D;
    --gray: #848F9C;
    --white: #FFFFFF;
    --x: #ff0030;
}

#login {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    flex-direction: column;
}

#table {
    font-family: 'Cambria', sans-serif;
    font-size: 20px;
    display: none;
    height: 100%;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.game{
    position: absolute;
    top: 0;
    left: 0;
}

.enemy{
    position: absolute;
    right: 5%;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;

}

.enemy progress[value]::-webkit-progress-bar {
    background-color: var(--red);
    transition: width 1s ease;
}

#leaderboard-button{
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

#back-button {
    display: none;
    font-size: 1.5em;
}

#current-username {
    display: none;
}

h3 {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 10px;
}
